@use 'sass:map';
@use 'animation';

@function color($color) {
    $color-map: (
        "primary": #007bff,
        "a-hover": lightslategray,
        "roman-input": aqua,
        "roman-output": bisque,
        "denom-odd": lavenderblush,
        "denom-even": ivory
    );
    @return map.get($color-map, $color);
}

@mixin position($position, $vertical, $vertical-val, $horizontal, $horizontal-val, $transform: null, $z-index: null) {
    position: $position;
    #{$vertical}: $vertical-val;
    #{$horizontal}: $horizontal-val;
    -webkit-transform: $transform;
    transform: $transform;
    z-index: $z-index;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin text($color, $font-size, $font-weight: null, $line-height: null) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    $line-height: $line-height;
}

@mixin input($content, $color, $font-size) {
    content: $content;
    @include text($color, $font-size);
}

@mixin placeholder {
    $prefixes: -ms-input, -moz, #{":"}-webkit-input, #{":"}-moz;
    @each $prefix in $prefixes {
        #{":"}#{$prefix}-placeholder {
            text-align: center;
            font-size: 0.8rem;
        }
    }
}

@mixin background-denom($height) {
    $odevities: odd, even;
    li {
        padding-top: 0.5rem;
        height: $height;
        @each $odevity in $odevities {
            &:nth-of-type(#{$odevity}) {
                background-color: color("denom-#{$odevity}");
            }
        }
    }
}

@-webkit-keyframes wave {
    0% {
        @include animation.wave(0);
    }
    14.29% {
        @include animation.wave(1);
    }
    28.57% {
        @include animation.wave(2);
    }
    42.86% {
        @include animation.wave(3);
    }
    57.14% {
        @include animation.wave(4);
    }
    71.43% {
        @include animation.wave(5);
    }
    85.71% {
        @include animation.wave(6);
    }
    100% {
        @include animation.wave(0);
    }
}

@keyframes wave {
    0% {
        @include animation.wave(0);
    }
    14.29% {
        @include animation.wave(1);
    }
    28.57% {
        @include animation.wave(2);
    }
    42.86% {
        @include animation.wave(3);
    }
    57.14% {
        @include animation.wave(4);
    }
    71.43% {
        @include animation.wave(5);
    }
    85.71% {
        @include animation.wave(6);
    }
    100% {
        @include animation.wave(0);
    }
}

@-webkit-keyframes fade {
    from {
        @include animation.fade(color("primary"), white);
    }
    to {
        @include animation.fade(transparent, transparent);
    }
}

@keyframes fade {
    from {
        @include animation.fade(color("primary"), white);
    }
    to {
        @include animation.fade(transparent, transparent);
    }
}

@-webkit-keyframes set-score {
    15% {
        @include animation.set-score();
    }
    30% {
        -webkit-transform: initial;
        transform: initial;
    }
    45% {
        @include animation.set-score();
    }
}

@keyframes set-score {
    15% {
        @include animation.set-score();
    }
    30% {
        -webkit-transform: initial;
        transform: initial;
    }
    45% {
        @include animation.set-score();
    }
}

a,
.btn-link {
    text-decoration: none !important;
    outline: none;
}

button {
    &:disabled {
        opacity: 1 !important;
    }
}

.modal thead th {
    vertical-align: middle;
}

.popover-body {
    div {
        // @mixin flex()
        display: -webkit-box;
        display: flex;
        -webkit-box-align: baseline;
        align-items: baseline;
    }
    a {
        cursor: pointer;
    }
}

.confirm-clear-history,
.confirm-clear-history {
    color: white;
}

.btn-link {
    color: color("primary") !important;
}

.mobile {
    font-size: 1.5rem;
}

.eye {
    @include position(fixed, top, 1rem, right, 1rem, scale(1.2), 1);
}

.nav-link {
    &:hover {
        background-color: color("a-hover");
    }
}

.progress {
    position: relative;
    height: 1px;
    overflow: visible;
    span {
        @include position(absolute, top, 50%, left, 50%, translate(-50%, -50%));
    }
}

.tab-roman {
    .card-text {
        -webkit-transform: translateX(27px);
        transform: translateX(27px);
    }
}

.btn-history {
    z-index: 1;
}

.input-container {
    &::before {
        @include input("Roman numerals e.g. 'CD'", color("roman-input"), 0.8rem);
    }
    &::after {
        @include input("Arabic numerals 1 - 3999", color("roman-output"), 0.8rem);
    }
}

@include placeholder();

.btn-set {
    &:hover {
        i {
            -webkit-animation: set-score 1.5s infinite;
            animation: set-score 1.5s infinite;
        }
    }
}

.btn-score {
    width: 8rem;
    height: 3rem;
    margin-left: 0.5rem;
    white-space: nowrap;
    &:hover {
        &::before {
            content: "\d7";
        }
        span {
            display: none;
        }
    }
}

.ul-banknotes {
    @include background-denom(6rem);
}
.ul-coins {
    @include background-denom(4rem);
}

.icon-banknote,
.icon-coin {
    @include size(3rem, 3rem);
    @include text(transparent, 1.5rem, bold, 3rem);
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
        /* Bootstrap predefines overlap styles for <img> only */
        opacity: 0.5;
        color: #000;
    }
}

.icon-banknote {
    background: url(img/sprite-banknotes.png) 40% 100% / 500% no-repeat;
    margin: 1rem 0;
}
