.modal thead th {
    vertical-align: middle;
}

.popover-body {
    display: flex;
    align-items: baseline;
}

.popover-body a {
    cursor: pointer;
}

.confirm-clear-history, .confirm-clear-score {
    color: #fff !important;
}

.btn-link {
    color: #007bff !important;
}

.container-fluid {
    background: radial-gradient(circle, rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255));
    -webkit-animation: wave 5s linear infinite;
    animation: wave .5s linear infinite;
}

@-webkit-keyframes wave {
    0% {
        background: radial-gradient(circle, rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255));
    }
    14.29% {
        background: radial-gradient(circle, rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255));
    }
    28.57% {
        background: radial-gradient(circle, rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255));
    }
    42.86% {
        background: radial-gradient(circle, rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236));
    }
    57.14% {
        background: radial-gradient(circle, rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219));
    }
    71.43% {
        background: radial-gradient(circle, rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217));
    }
    85.71% {
        background: radial-gradient(circle, rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215));
    }
    100% {
        background: radial-gradient(circle, rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255));
    }
}

@keyframes wave {
    0% {
        background: radial-gradient(circle, rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255));
    }
    14.29% {
        background: radial-gradient(circle, rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255));
    }
    28.57% {
        background: radial-gradient(circle, rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255));
    }
    42.86% {
        background: radial-gradient(circle, rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236));
    }
    57.14% {
        background: radial-gradient(circle, rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219));
    }
    71.43% {
        background: radial-gradient(circle, rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215), rgb(254, 234, 217));
    }
    85.71% {
        background: radial-gradient(circle, rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255), rgb(255, 215, 215));
    }
    100% {
        background: radial-gradient(circle, rgb(255, 215, 215), rgb(254, 234, 217), rgb(252, 255, 219), rgb(236, 253, 236), rgb(218, 251, 255), rgb(226, 236, 255), rgb(233, 221, 255));
    }
}

a, .btn-link {
    text-decoration: none !important;
}

/* .collapsing {
    -webkit-transition: none;
    transition: none;
} */

.eye {
    position: fixed;
    top: 1rem;
    right: 1rem;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-link:hover {
    background-color: lightslategray;
}

@-webkit-keyframes fade {
    from {
        background-color: #007bff;
        color: white;
    }
    to {
        background-color: transparent;
        color: transparent;
    }
}

@keyframes fade {
    from {
        background-color: #007bff;
        color: white;
    }
    to {
        background-color: transparent;
        color: transparent;
    }
}

.progress {
    position: relative;
    height: 1px;
    overflow: visible;
}

.progress span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tab-roman .btn-history {
    margin: 0 -9rem 0 5rem;
}

.input-container::before {
    content: "Roman numerals e.g. 'CD'";
    color: aqua;
    font-size: 0.8rem;
}

.input-container::after {
    content: "Arabic numerals 1 - 3999";
    color: bisque;
    font-size: 0.8rem;
}

:-ms-input-placeholder {
    text-align: center;
    font-size: 0.8rem;
}

:-moz-placeholder {
    text-align: center;
    font-size: 0.8rem;
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 0.8rem;
}

::-moz-placeholder {
    text-align: center;
    font-size: 0.8rem;
}

button[disabled] {
    opacity: 1 !important;
}

@-webkit-keyframes set {
    15% {
        -webkit-transform: rotate(-45deg) scale(1.2);
        transform: rotate(-45deg) scale(1.2);
    }
    30% {
        -webkit-transform: initial;
        transform: initial;
    }
    45% {
        -webkit-transform: rotate(-45deg) scale(1.2);
        transform: rotate(-45deg) scale(1.2);
    }
}

@keyframes set {
    15% {
        -webkit-transform: rotate(-45deg) scale(1.2);
        transform: rotate(-45deg) scale(1.2);
    }
    30% {
        -webkit-transform: initial;
        transform: initial;
    }
    45% {
        -webkit-transform: rotate(-45deg) scale(1.2);
        transform: rotate(-45deg) scale(1.2);
    }
}

.btn-set:hover i {
    -webkit-animation: set 1.5s infinite;
    animation: set 1.5s infinite;
}

.btn-set, .btn-score {
    margin-left: .5rem;
}

.btn-score {
    width: 8rem;
    height: 3rem;
    white-space: nowrap;
}

.btn-score:hover span {
    display: none;
}

.btn-score:hover::before {
    content: '\d7';
}

.ul-banknotes li, .ul-coins li {
    padding-top: .5rem;
    /* display: inline-block; */
}

.ul-banknotes li {
    height: 6rem;
}

.ul-coins li {
    height: 4rem;
}

.ul-banknotes li:nth-of-type(odd), .ul-coins li:nth-of-type(odd) {
    background-color: lavenderblush;
}

.ul-banknotes li:nth-of-type(even), .ul-coins li:nth-of-type(even) {
    background-color: ivory;
}

.icon-banknote, .icon-coin {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    line-height: 3rem;
    color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.icon-banknote:hover, .icon-coin:hover {
    /* Bootstrap predefines overlap styles for <img> only */
    opacity: 0.5;
    color: #000;
}

.icon-banknote {
    background: url(img/sprite-banknotes.png) 40% 100% / 500% no-repeat;
    margin: 1rem 0;
}

li:nth-of-type(2) .icon-banknote {
    background-position: 70% 52%;
}

li:nth-of-type(3) .icon-banknote {
    background-position: 5% 52%;
}

li:nth-of-type(4) .icon-banknote {
    background-position: 70% 5%;
}

.icon-coin {
    background: url(img/sprite-coins.jpg) right bottom / 300% no-repeat;
}

li:nth-of-type(2) .icon-coin {
    background-position: center bottom;
}

li:nth-of-type(3) .icon-coin {
    background-position: left bottom;
}

li:nth-of-type(4) .icon-coin {
    background-position: right top;
}

li:nth-of-type(5) .icon-coin {
    background-position: center top;
}

li:nth-of-type(6) .icon-coin {
    background-position: left top;
}

.qty-denom, .icon-mtp {
    display: inline-block;
    width: 10%;
}

.qty-denom {
    margin-right: 1rem;
}

.qty-denom+span.badge {
    width: 1rem;
    visibility: hidden;
}

.answer::before {
    content: attr(data-text);
}

.answer label {
    width: 1.5rem;
}

.alert {
    visibility: hidden;
}