$white: #fff;
$primary: #007bff;
.modal thead th {
    vertical-align: middle;
}

.popover-body {
    div {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: baseline;
        align-items: baseline;
    }
    a {
        cursor: pointer;
    }
}

%number-clear {
    color: $white;
}

.confirm-clear-history {
    @extend %number-clear;
}

.confirm-clear-score {
    @extend %number-clear;
}

.btn-link {
    color: $primary !important;
}

.container-fluid {
    
}
