@use 'animation';
@use 'common';

// For keeping namespaces I did not use @forward in the modules
// No @extend!

a,
.btn-link {
    text-decoration: none !important;
    outline: none;
}

label {
    margin-bottom: 0;
}

button {
    &:disabled {
        opacity: 1 !important;
    }
}

.modal thead th {
    vertical-align: middle;
}

.popover-body {
    div {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: baseline;
        align-items: baseline;
    }
    a {
        cursor: pointer;
    }
}

.confirm-clear-history,
.confirm-clear-score {
    color: #fff !important;
}

.btn-link {
    color: common.color("primary") !important;
}

.container-fluid {
    @include animation.wave(0);
    -webkit-animation: wave 0.5s linear infinite;
    animation: wave 0.5s linear infinite;
}

.mobile {
    font-size: 1.5rem;
}

.eye {
    @include common.position(fixed, top, 1rem, right, 1rem, scale(1.2), 1);
}

.nav {
    @media screen and (max-width: 576px) {
        border-radius: 4px;
    }
}

.nav-link {
    &:hover {
        background-color: common.color("a-hover");
    }
}

.progress {
    position: relative;
    height: 1px;
    overflow: visible;
    span {
        @include common.position(absolute, top, 50%, left, 50%, translate(-50%, -50%));
    }
}

.tab-roman {
    .card-text {
        -webkit-transform: translateX(27px);
        transform: translateX(27px);
    }
}

.btn-history {
    z-index: 1;
}

.input-container {
    &::before {
        @include common.input("Roman numerals e.g. 'CD'", common.color("roman-input"), 0.8rem);
    }
    &::after {
        @include common.input("Arabic numerals 1 - 3999", common.color("roman-output"), 0.8rem);
    }
    @media screen and (max-width: 768px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

@include common.placeholder();

.tab-cash {
    .form-inline {
        button {
            @media screen and (max-width: 576px){
                margin-top: 1rem;
            }
        }
    }
}

.btn-set {
    &:hover {
        i {
            -webkit-animation: set-score 1.5s infinite;
            animation: set-score 1.5s infinite;
        }
    }
}

.btn-score {
    @include common.size(8rem, 3rem);
    margin-left: 0.5rem;
    white-space: nowrap;
    &:hover {
        &::before {
            content: "\d7";
        }
        span {
            display: none;
        }
    }
}

.ul-banknotes {
    @include common.background-denom(6rem);
}
.ul-coins {
    @include common.background-denom(4rem);
}

.icon-banknote,
.icon-coin {
    @include common.size(3rem, 3rem);
    @include common.text(transparent, 1.5rem, bold, 3rem);
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    &:hover {
        /* Bootstrap predefines overlap styles for <img> only */
        opacity: 0.5;
        color: #000;
    }
}

.icon-banknote {
    background: url(../img/sprite-banknotes.png) 40% 100% / 500% no-repeat;
    margin: 1rem 0;
}
@include common.sprite("banknote", 2, 70% 52%);
@include common.sprite("banknote", 3, 5% 52%);
@include common.sprite("banknote", 4, 70% 5%);

.icon-coin {
    background: url(../img/sprite-coins.jpg) right bottom / 300% no-repeat;
}
@include common.sprite("coin", 2, center bottom);
@include common.sprite("coin", 3, left bottom);
@include common.sprite("coin", 4, right top);
@include common.sprite("coin", 5, center top);
@include common.sprite("coin", 6, left top);

.qty-denom,
.icon-mtp {
    display: inline-block;
    width: 10%;
}

.qty-denom {
    margin-right: 1rem;
    + span.badge {
        width: 1rem;
        visibility: hidden;
    }
}

.answer {
    &::before {
        content: attr(data-text);
    }
    label {
        width: 1.5rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    button {
        @media screen and (max-width: 576px) {
            display: block;
        }
    }
}

.alert {
    visibility: hidden;
}
